          <div class="card-list-container d-flex flex-wrap">
            <% post_images.each do |post_image| %>
            <div class="card w-25 mx-3 mt-4">
              <%= link_to public_post_image_path(post_image.id) do %>
                <%= image_tag post_image.get_image(200, 120) %>
              <% end %>
              <div class="card-body">
                <div class="row">
                  <%= link_to public_post_image_path(post_image.id) do %>
                    <p class="card-title h6 ml-3"><%= post_image.name %></p>
                  <% end %>
                </div>
                <div class="row">
                  <p class="card-writer small ml-3"><%= post_image.prefecture %></p>
                </div>
                <div class="row">
                  <p class="card-tag text-secondary ml-3">
                    <% post_image.tags.each do |tag| %>
                      <%= tag.name %>
                    <% end %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>