<%= form_with model: @admin, url: admin_session_path do |f| %>
<div class="container px-5 px-sm-0 mt-3">
    <div class="row">
      <div class="col-10 offset-1 pb-5 mb-5">
        <h5 class="d-inline-block mt-4 mb-5 bg-light">　管理者ログイン　</h5>
          <table class="col-8 offset-2 table table-sm table-borderless">
            <tr>
              <td><%= f.label "メールアドレス" %></td>
              <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-10" %></td>
              <td><br></td>
            </tr>
            <tr>
              <td><%= f.label "パスワード" %></td>
              <td colspan="2"><%= f.password_field :password, autocomplete: "current-password", class: "col-10" %></td>
              <td><br></td>
            </tr>
            <tr>
              <td><br></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary rounded btn-sm d-grid gap-2 col-4 mx-auto mt-4" %></td>
            </tr>
          </table>
      </div>
    </div>
  </div>
<% end %>
