<h3>投稿一覧</h3>

<%= form_with model: @post_image, url: public_post_images_path do |f| %>
  <% @post_images.each do |post_image| %>
    <p><%= post_image.name %></p>
    <p>
      <%= link_to public_post_image_path(post_image.id) do %>
        <%= image_tag post_image.get_image(40, 30) %>
      <% end %>
    </p>
    <p><%= post_image.prefecture %></p>
    <p><%= post_image.user.name %></p>
    <% post_image.tags.each do |tag| %>
     <%= tag.name %>
    <%end%>
    <%= post_image.created_at.strftime('%Y/%m/%d') %>
  <% end %>
<% end %>
