<h3>投稿</h3>

<% if @post_image.errors.any? %>
  <%= @post_image.errors.count %>件のエラーが発生しました
  <ul>
    <% @post_image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post_image, url: public_post_images_path do |f| %>
  <div class="field">
    <p>おみやげ画像<%= f.file_field :image, accept: "image/*" %></p>
    <p>おみやげ名<%= f.text_field :name %></p>
    <p>コメント<%= f.text_area :my_comment %></p>
    <p>旅先<%= f.select :prefecture, PostImage.prefectures.keys, {} %></p>
    <p>
      <%= f.radio_button :way_of_getting, PostImage.way_of_gettings.key(0) %>
      <%= f.label :way_of_getting, PostImage.way_of_gettings_i18n[:buy] %>

      <%= f.radio_button :way_of_getting, PostImage.way_of_gettings.key(1) %>
      <%= f.label :way_of_getting, PostImage.way_of_gettings_i18n[:receive] %>
    </p>
    <p>値段<%= f.text_field :price %>円</p>
    <p>タグ<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      <% end %>
    </p>

    <%= f.submit '新規投稿' %>
  </div>
<% end %>