<h3>地域から検索</h3>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '1' }}) do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '2' }}) do %>
<div>青森県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '3' }}) do %>
<div>岩手県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '4' }}) do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '5' }}) do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '6' }}) do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '7' }}) do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '8' }}) do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '9' }}) do %>
<div>北海道</div>
<% end %>