<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　北海道　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '1' }}) do %>
          <div>北海道</div>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　東北　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '2' }}) do %>
          <span span class="mr-3">青森県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '3' }}) do %>
          <span class="mr-3">岩手県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '4' }}) do %>
          <span class="mr-3">宮城県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '5' }}) do %>
          <span class="mr-3">秋田県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '6' }}) do %>
          <span class="mr-3">山形県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '7' }}) do %>
          <span class="mr-3">福島県</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　関東　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '8' }}) do %>
          <span class="mr-3">茨城県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '9' }}) do %>
          <span class="mr-3">栃木県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '9' }}) do %>
          <span class="mr-3">栃木県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '10' }}) do %>
          <span class="mr-3">群馬県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '11' }}) do %>
          <span class="mr-3">埼玉県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '12' }}) do %>
          <span class="mr-3">千葉県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '13' }}) do %>
          <span class="mr-3">東京都</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '14' }}) do %>
          <span class="mr-3">神奈川県</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　中部　</h5>
      <div class="col-md-9 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '15' }}) do %>
          <span class="mr-3">新潟県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '16' }}) do %>
          <span class="mr-3">富山県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '17' }}) do %>
          <span class="mr-3">石川県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '18' }}) do %>
          <span class="mr-3">福井県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '19' }}) do %>
          <span class="mr-3">山梨県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '20' }}) do %>
          <span class="mr-3">長野県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '21' }}) do %>
          <span class="mr-3">岐阜県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '22' }}) do %>
        <span class="mr-3">静岡県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '23' }}) do %>
          <span class="mr-3">愛知県</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　近畿　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '24' }}) do %>
          <span class="mr-3">三重県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '25' }}) do %>
          <span class="mr-3">滋賀県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '26' }}) do %>
          <span class="mr-3">京都府</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '27' }}) do %>
          <span class="mr-3">大阪府</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '28' }}) do %>
          <span class="mr-3">兵庫県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '29' }}) do %>
          <span class="mr-3">奈良県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '30' }}) do %>
          <span class="mr-3">和歌山県</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　中国　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '31' }}) do %>
          <span class="mr-3">鳥取県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '32' }}) do %>
          <span class="mr-3">島根県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '33' }}) do %>
          <span class="mr-3">岡山県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '34' }}) do %>
          <span class="mr-3">広島県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '35' }}) do %>
          <span class="mr-3">山口県</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　四国　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '36' }}) do %>
          <span class="mr-3">徳島県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '37' }}) do %>
          <span class="mr-3">香川県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '38' }}) do %>
          <span class="mr-3">愛媛県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '39' }}) do %>
          <span class="mr-3">高知県</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　九州　</h5>
      <div class="col-md-8 offset-md-2">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '40' }}) do %>
          <span class="mr-3">福岡県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '41' }}) do %>
          <span class="mr-3">佐賀県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '42' }}) do %>
          <span class="mr-3">長崎県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '43' }}) do %>
          <span class="mr-3">熊本県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '44' }}) do %>
          <span class="mr-3">大分県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '45' }}) do %>
          <span class="mr-3">宮崎県</span>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '46' }}) do %>
        <span class="mr-3">鹿児島県</div>
        <% end %>
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　沖縄　</h5>
      <div class="col-md-8 offset-md-2 mb-5">
        <%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '47' }}) do %>
          <span class="mr-3">沖縄県</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
