<h3>地域から検索</h3>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '1' }}), class: 'small' do %>
<div>北海道</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '2' }}) do %>
<div>青森県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '3' }}) do %>
<div>岩手県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '4' }}) do %>
<div>宮城県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '5' }}) do %>
<div>秋田県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '6' }}) do %>
<div>山形県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '7' }}) do %>
<div>福島県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '8' }}) do %>
<div>茨城県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '9' }}) do %>
<div>栃木県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '9' }}) do %>
<div>栃木県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '10' }}) do %>
<div>群馬県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '11' }}) do %>
<div>埼玉県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '12' }}) do %>
<div>千葉県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '13' }}) do %>
<div>東京都</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '14' }}) do %>
<div>神奈川県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '15' }}) do %>
<div>新潟県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '16' }}) do %>
<div>富山県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '17' }}) do %>
<div>石川県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '18' }}) do %>
<div>福井県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '19' }}) do %>
<div>山梨県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '20' }}) do %>
<div>長野県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '21' }}) do %>
<div>岐阜県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '22' }}) do %>
<div>静岡県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '23' }}) do %>
<div>愛知県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '24' }}) do %>
<div>三重県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '25' }}) do %>
<div>滋賀県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '26' }}) do %>
<div>京都府</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '27' }}) do %>
<div>大阪府</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '28' }}) do %>
<div>兵庫県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '29' }}) do %>
<div>奈良県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '30' }}) do %>
<div>和歌山県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '31' }}) do %>
<div>鳥取県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '32' }}) do %>
<div>島根県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '33' }}) do %>
<div>岡山県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '34' }}) do %>
<div>広島県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '35' }}) do %>
<div>山口県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '36' }}) do %>
<div>徳島県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '37' }}) do %>
<div>香川県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '38' }}) do %>
<div>愛媛県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '39' }}) do %>
<div>高知県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '40' }}) do %>
<div>福岡県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '41' }}) do %>
<div>佐賀県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '42' }}) do %>
<div>長崎県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '43' }}) do %>
<div>熊本県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '44' }}) do %>
<div>大分県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '45' }}) do %>
<div>宮崎県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '46' }}) do %>
<div>鹿児島県</div>
<% end %>

<%= link_to ({ controller: "searches", action: "search", q: { name_or_prefecture_eq: '47' }}) do %>
<div>沖縄県</div>
<% end %>