<% if @post_image.errors.any? %>
  <%= @post_image.errors.count %>件のエラーが発生しました
  <ul>
    <% @post_image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-5">
  <%= form_with model: @post_image, url: public_post_image_path do |f| %>
  <div class="row">
    <div class="col-md-4">
      <p><%= image_tag @post_image.get_image(400, 300) %></p>
      <div class="text-right">
        投稿者:
        <%= link_to public_user_path(@user.id) do %>
          <%= @post_image.user.name %>
        <% end %>
      </div>
      <div class="bookmark">
        <% if @post_image.bookmarked_by?(current_user) %>
          <p>
            <%= link_to public_post_image_bookmarks_path(@post_image), method: :delete do %>
              <button class="btn btn-primary" type="submit">ブックマークしました</button>
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to public_post_image_bookmarks_path(@post_image), method: :post do %>
              <button class="btn btn-outline-primary" type="submit">ブックマークする</button>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 offset-md-1">
      <div class="post-content">
        <div class="row">
          <div class="col-md-5">
            <p class="strong h4"><%= @post_image.name %></p>
          </div>
          <div class="col-md-5">
            <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
        <div class="row">
          <div class="mr-auto ml-3"><%= @post_image.bookmarks.count %>件のブックマーク</div>
        </div>
        <table class="table table-borderless">
          <tr>
            <td>旅先</td>
            <td><%= @post_image.prefecture %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= @post_image.my_comment %></td>
          </tr>
          <tr>
            <td>入手方法</td>
            <td><%= @post_image.way_of_getting_i18n %></td>
          </tr>
          <% if @post_image.price.present? %>
          <tr>
            <td>価格</td>
            <td><%= @post_image.price %>円</td>
          </tr>
          <% end %>
          <tr class="text-secondary">
            <td>タグ</td>
            <td>
              <% @post_image.tags.each do |tag| %>
             　<%= tag.name %>
              <%end%>
            </td>
          </tr>
        </table>
        <div>
          <% if @post_image.user == current_user %>
          <%= link_to "投稿を編集", edit_public_post_image_path(@post_image), class: "btn btn-outline-secondary btn-block rounded mt-3" %>
          <%= link_to "投稿を削除", public_post_image_path, method: :delete, class: "btn btn-outline-danger btn-block rounded mt-3", "data-confirm" => "本当に削除しますか？" %>
        <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="comment-title h5"><strong>コメント</strong>(<%= @post_image.post_comments.count %>件)</div>
  </div>
  <% @post_image.post_comments.each do |post_comment| %>
    <div class="row">
      <div class="col-md-2">
        <%=image_tag post_comment.user.get_profile_image(50, 50) %>
        <p><%= link_to public_user_path(@user.id) do %><%= post_comment.user.name %><% end %></p>
      </div>
      <div class="col-md-6">
        <p><%= post_comment.comment %></p>
        <div class="text-right"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
      </div>
      <div class="col-md-2">
        <div class="d-md-flex justify-content-md-end"></div>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", public_post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete,
          class: "btn btn-outline-danger btn-block rounded mt-3", "data-confirm" => "本当に削除しますか？"%>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row mt-3">
    <%= form_with model: [@post_image, @post_comment], url: public_post_image_post_comments_path(@post_image.id) do |f| %>
      <div class="message-box mx-3"><%= f.text_area :comment, class: "form-control", style: "width:100%", rows: '5', placeholder: "コメント" %>
      <%= f.submit "送信する", class: "btn btn-success btn-block rounded small mt-2 mb-5" %></div>
    <% end %>
  </div>
</div>




