<div class="container">
  <div class="jumbotron jumbotron-fluid">
  <div class="row">
      <div class="img-fluid d-block mx-auto">
        <% @random.each do |post_image| %>
          <%= image_tag post_image.get_image('60%', '37%') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sidebar col-md-4 mb-5">
      <div class="sidebar-content h6"><strong>タグから探す</strong></div>
      <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '家族' }}) do %>
          <div class="mr-3">家族</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '友人' }}) do %>
          <div class="mr-3">友人</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '職場' }}) do %>
          <div class="mr-3">職場</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '自分' }}) do %>
          <div class="mr-3">自分</div>
        <% end %>
      <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: 'お菓子' }}) do %>
          <div class="mr-3">お菓子</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '食品' }}) do %>
          <div class="mr-3">食品</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '飲料品' }}) do %>
          <div class="mr-3">飲料品</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '美容・化粧品' }}) do %>
          <div class="mr-3">美容・化粧品</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: '雑貨・趣味' }}) do %>
          <div class="mr-3">雑貨・趣味</div>
        <% end %>
        <%= link_to ({ controller: "searches", action: "search", q: { tags_name_eq: 'その他' }}) do %>
          <div class="mr-3">その他</div>
        <% end %>
    </div>

    <div class="main col-md-8">
      <div class="row">
        <div class="main-title col-md-4 h5"><strong>新着おみやげ</strong></div>
        <div class="top-link col-md-4 text-left"><%= link_to "すべて見る>", public_post_images_path %></div>
      </div>
        <div class="main-content">
          <%= render 'public/shared/posts', post_images: @post_images %>
        </div>
      <div class="main-title h5 mt-5"><strong>人気おみやげ</strong></div>
        <div class="main-content mb-5">
          <div class="card-list-container py-3 d-flex flex-wrap">
            <% @all_ranks.each do |all_ranks| %>
            <div class="card w-25 mx-3">
                <%= image_tag all_ranks.get_image(200, 120) %>
              <div class="card-body">
                <div class="row">
                    <p class="card-title h6 ml-3"><%= all_ranks.name %></p>
                </div>
                <div class="row">
                  <p class="card-writer small ml-3"><%= all_ranks.prefecture %></p>
                </div>
                <div class="row">
                  <p class="card-tag text-secondary ml-3">
                    <% all_ranks.tags.each do |tag| %>
                      <%= tag.name %>
                    <% end %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        </div>
    </div>
  </div>
</div>