<h3>投稿詳細</h3>

<%= form_with model: @post_image, url: admin_post_image_path do |f| %>
    <p>
        <%= link_to public_user_path do %>
          <%= @post_image.user.name %>
        <% end %>
    </p>
    <p><%= @post_image.name %></p>
    <p><%= image_tag @post_image.get_image(400, 300) %></p>
    <p><%= @post_image.prefecture %></p>
    <p><%= @post_image.comment %></p>
    <p><%= @post_image.way_of_getting_i18n %></p>
    <p><%= @post_image.price %></p>
    <% @post_image.tags.each do |tag| %>
     　<%= tag.name %>
    <%end%>
    <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>


    <% if admin_signed_in? %>
      <%= link_to "管理者削除", admin_post_image_path(@post_image.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
<% end %>