<%= form_with model: @user, url: admin_user_path do |f| %>
  <p><%= f.label "会員ID" %><%= @user.id %></p>
  <p><%= f.label "名前" %><%= @user.name %></p>
  <p><%= f.label "メールアドレス" %><%= @user.email %></p>
  <p><%= f.label "お住まいの都道府県" %><%= @user.prefecture %></p>
  <p><%= f.label "性別" %><%= @user.gender %></p>
  <p><%= f.label "生年月" %><%= @user.birth_year %>年<%= @user.birth_month %>月</p>
  <p><%= f.label "会員ステータス" %><%= @user.is_deleted? ? '無効' : '有効' %></p>
<% end %>

<%= link_to "編集する", edit_admin_user_path %>