<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path do |f| %>
  <div class="field">
    <%= "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to '新規会員登録', new_user_registration_path %>
<%= link_to 'ゲストログイン（閲覧用）', public_users_guest_sign_in_path, method: :post %>