<!DOCTYPE html>
<html>
  <head>
    <title>Oshimiyage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li class="nav-link btn btn-sm btn-outline-secondary rounded ml-5">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "新規投稿", new_public_post_image_path %>
        <%= link_to "投稿一覧", public_post_images_path %>
      </li>
    <% elsif admin_signed_in? %>
      <li class="nav-link btn btn-sm btn-outline-secondary rounded ml-5">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <%= link_to "タグ一覧", admin_tags_path %>
        <%= link_to "投稿一覧", admin_post_images_path %>
      </li>
    <% else %>
      <li class="nav-link btn btn-sm btn-outline-secondary rounded ml-5">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
